<html>
  <head>
    <title> Pitt Meetup </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/calendar.css"/>
    <script src="/js/first.js"></script>
  </head>
<body>

<div id="navigation">
  <div id="nav_bar">
      <ul>
          <a href="/.">
            <li>Home</li>
          </a>
          <a href="/UserPage">          
            <li>My Profile</li>
          </a>
          <a href="/EventPoster">
            <li>Events</li>
          </a>
      </ul>
  </div>
  <div id="searchbar">
    {%if logout_url%}
    <a href="{{logout_url}}">Logout</a>
    {%else%}
    <a href="{{login_url}}">Login</a>
    {% endif %}
    <form method="post" action="UserPage">
      <input type="text" name="search_param">
      <input type="submit" value="Search">
    </form>
  </div>
</div>
<div id="name"><h3>Add Your Availability</h3></div>
<br>
<div id="mainpage">
  <form method="post" action="/.">
    <label>Activity </label><input type="text" name="activity" default="{{activity}}"><br>
    <label>Location </label><input type="text" name="location"><br>
    <label>Start Time </label><input type="text" name="start_time"><br>
    <label>End Time </label><input type="text" name="end_time"><br>
    <label>Is this a recurring event? </label>
    <input type="checkbox" name="recurring" value="Yes" onclick="set_element_visibility(this);">
    <label class="date">Date </label><input class="date" type="text" name="date"><br>
    <label class="weekday">Choose which days you are available at this time: </label><br>
    <input class="weekday" type="checkbox" name="weekday" value="Sunday">Sunday<br>
    <input class="weekday" type="checkbox" name="weekday" value="Monday">Monday<br>
    <input class="weekday" type="checkbox" name="weekday" value="Tuesday">Tuesday<br>
    <input class="weekday" type="checkbox" name="weekday" value="Wednesday">Wednesday<br>
    <input class="weekday" type="checkbox" name="weekday" value="Thursday">Thursday<br>
    <input class="weekday" type="checkbox" name="weekday" value="Friday">Friday<br>
    <input class="weekday" type="checkbox" name="weekday" value="Saturday">Saturday<br>
    <input type="submit" value="submit">
  </form>
  
</div>
</body>
</html>
