<html>
	<head>
        <title>Pitt Meet Up</title>
        <!--JQuery UI-->
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <!--Plain JQuery-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!--Nav Css-->
        <link rel='stylesheet' type='text/css' href='/stylesheets/navstyle.css'>
            
        <!--General Body CSS-->
        <link rel='stylesheet' type='text/css' href='/stylesheets/bodystyle.css'>
        <!--Scripts-->
        {% block scripts %}
        {% endblock scripts %}
        {% block pagestyle %}
        {% endblock pagestyle %}
        
	</head>
<body>
<div id="navigation">
	<div id="nav_bar">
		<ul>
            <li id='home'><a href="/.">Home</a></li>
            <li id='profile'><a href="/UserPage">My Profile</a></li>
            <li id='eventposter'><a href="/EventPoster"> Create Events</a></li>
            <li id='searchbar'>
                <label for='form'>Search</label>
                <form method='post' action='search' id='form'>
                    <input type='text' name='search_param'>
                    <input type='submit' value='Search'>
                </form>
            </li>
            <li id='calendar'>
                <a href="/Calendar">Calendars</a>
            </li>
            <li id='logout'>
                {%if logout_url%}
                <a href="{{logout_url}}">Logout</a>
                {%else%}
                <a href="{{login_url}}">Login</a>
                {% endif %}
            </li>
		</ul>
	</div>
</div>
{% block bodycontent %}
{% endblock %}
</body>
</html>