{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" src="/js/ajaxcal.js"></script>
	<script type="text/javascript" src="/js/first.js"></script>
{% endblock scripts %}

{% block pagestyle %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/calendar.css"/>
{% endblock pagestyle %}

{% block bodycontent %}

<div id="whole">
    <div id="leftside">
        <button onclick="show_calendar_update_window(this);">Add Your Availability</button>
        <div id="add_availability"></div>
    </div>
    <div id="rightside">
        <div id="calendar"><table border="4">
            <tr>
                <td id="title" colspan="7" align="center">{{month}} {{year}}</td>
            </tr>
            <tr class="daysweek">
                <td align="center"> Sun</td>
                <td align="center"> Mon</td>
                <td align="center"> Tue</td>
                <td align="center"> Wed</td>
                <td align="center"> Thu</td>
                <td align="center"> Fri</td>
                <td align="center"> Sat</td>
            </tr>
            {% for week in weeks %}
            <tr class="days">
                {% for day in week.days %}
                <td>{{day}}</td>
                {%endfor%}
            </tr>
            
            <tr class="editrow">
                {%for val in week.vals%}
                <td id="{{val.id}}" class="edit" align="left" valign="top">{{val.val}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
            
        </table>
        <br><br>
        {%for activity in activities%}
        <input type="checkbox" name="activity" value="{{activity}}" />{{activity}}
        {%endfor%}
        <button onclick="grabCalendar()">Grab Calendar</button>
        </div>
    </div>
</div>
{% endblock bodycontent %}