{% extends "base.html" %}
{% block scripts %}
	<link href="/stylesheets/user_page.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/evtscript.js"></script>
{% endblock scripts %}
{% block bodycontent %}
<form name="eventdata" method="post">
	<div>Enter Event Name: </div>
	<input type="text" name="evt" size="100" />
	<br>
	<div>Enter Event Location: </div>
	<input type="text" name="loc" size="100" />
	<br>
	<div>Start Date: </div>
	<input type="text" name="start" class="dateentry" />
	<div>End Date: </div>
	<input type="text" name="end" class="dateentry" />
	<br>
	<input type="submit" value="submit" />
</form>
{% for event in events %}
<div>Event: {{event.name}}</div>
<div>Location: {{event.loc}}</div>
<div>Start Date: {{event.start}}</div>
<div>End Date: {{event.end}}</div>
{% endfor %}
{% endblock %}