{% extends "base.html" %}

{% block scripts %}
    <script src="/js/first.js"></script>
{% endblock scripts %}

{% block pagestyle %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/calendar.css"/>
{% endblock pagestyle %}

{% block bodycontent %}
    <div id="name"><h1>Welcome to Pitt Meetup</h1></div>
    <br>
    <div id="mainpage">
        {% if activities %}
            <div id="activitybar">
            <p>Current Activities<p>
        {% for activity in activities %}
            <a href="{{activity.link}}">{{activity.name}}</a><br>
        {% endfor %}
        
    </div>
        {% endif %}
{% endblock bodycontent %}