{% extends "base.html" %}
{block scripts}
{% if readonly%}
<script type="text/javascript">
    $(document).ready(
                      function () {
                      $("#accordion").accordion({ header: "h3",
                                                autoheight: false,
                                                active: false,
                                                alwaysOpen: false,
                                                fillspace: false,
                                                collapsible: true,
                                                //heightStyle: content   //auto, fill, content
                                                });
                      });
                      
    </script>
{%endif%}
{endblockscripts}

{% block pagestyle %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/user_page.css">
{% endblock pagestyle %}

{% block bodycontent %}
<!--User Info-->
<div id="user_info">
    <h1>{{name}}</h1>
    <img src="http://laslatinitas.com/wp-content/uploads/2012/04/istock_7086493.jpg" alt="student">
        
        <!--User Info Accordion Menu-->
        <form method="{{form_method}}" action="{{form_action}}">
            <div id="accordion">
                
                <h3><a href="#">User Information</a></h3>
                <div class="">
                    
                    <table>
                        <tr><td>Name: </td><td><input type="text" class="{{readonly}}info" name="full_name" value="{{name}}" {{readonly}}></td></tr>
                        <tr><td>Gender: </td><td><input type="text" class="{{readonly}}info" name="gender" value="{{gender}}" {{readonly}}></td></tr>
                        <tr><td>Major: </td><td><input type="text" class="{{readonly}}info" name="major" value="{{major}}" {{readonly}}></td></tr>
                        <tr><td>School Year: </td><td><input type="text" class="{{readonly}}info" name="grade" value="{{grade}}" {{readonly}}></td></tr>
                        <tr><td>Age: </td><td><input type="text" class="{{readonly}}info" name="age" value="{{age}}" {{readonly}}></td></tr>
                        
                    </table>
                    
                </div>
                
                <h3><a href="#">Contact Information</a></h3>
                <div>
                    
                    <table>
                        <tr><td>Preferred Contact Method: </td><td><input type="text" class="{{readonly}}info" name="primary_contact" value="{{primary_contact}}" {{readonly}}></td></tr>
                        <tr><td>Email Address: </td><td><input type="text" class="readonlyinfo" name="email" value="{{email_address}}" readonly></td></tr>
                        <tr><td>Phone: </td><td><input type="text" class="{{readonly}}info" name="phone" value="{{phone_number}}" {{readonly}}></td></tr>
                    </table>
                    
                    
                </div>
                
                <h3><a href="#">Activities</a></h3>
                <div>
                    
                    <p style="text-align:center;">
                    {% if activities %}
                    {% for activity in activities %}
                    <a href="{{activity.link}}">{{activity.name}}</a><br>
                    {% endfor %}
                    {% endif %}
                    </p>
                    
                </div>
                
            </div>
            <input class="edit_buttons" id="EditandSave" type="submit" value="{{submit_name}}"/>
        </form>

{% endblock bodycontent %}

