@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

/*All changes to the style that will affect the ENTIRE BODY
go in this file.*/
body{
	background-color: #F6F6F6;
	font-family: 'Roboto';	
	padding: 0px;
	margin: 0px;
}