body{
  color: #5974a2 ;
}

tr.editrow td:hover {
   display:table-cell;
   width:100%;
   border:solid black 1px;
   background: #eea254;
}

td.editrow td{
  display:table-cell;
   height: 30%;
}

button:hover{
   background: #eea254;
}

tr.days td{
  background: #eeeeee;
  
}

tr.daysweek td{
  background: #899dbe;
  font-weight: bold;
}


table {
    display:table;
    width:100%;
    height:85%;
    table-layout:fixed;
    border: 10px solid #5974a2;
}

#title{
  background: #ea8b2a; 
  font-weight: bold;
}

#add_availability{ 
  display: none;
  position: absolute;
  
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding:2%;
  width:80%;
  height:60%;
  
  /*margin-left: 25%;
  margin-top: 25%;
*/
  background: #ffffff;
  border: 1px solid #000000;
  text-align: left;
  z-index: 999;

  opacity: 1 !important;
}

#calendar{
  position: absolute;
  z-index:9;
  background-repeat: no-repeat;
  background-size: cover;
}

#leftside {
  float: left;
  width: 19%;
}
#rightside {
  float: right;
  width: 80%;
}


