body{
	margin: 0px;
	padding: 0px;
}
#navigation{
	margin-top: 0px;
	margin-bottom: 20px;
	background-color: black;
	padding: 15px;
}
#navigation ul{
	margin: 0px;
	padding: 0px;
	background-color: black;	
	color: white;
}
#navigation li{
	list-style: none;
	display: inline;
	padding: 10px;
	margin: 0px;
	font-size: Large;	
}
#navigation a{
	text-decoration: none;
	color: white;	
}
#logout{
	background-color: #660066;
}
#logout:hover{
	background-color: #853385;
}
#home{
	background-color: #e6567a;
}
#home:hover{
	background-color: #EB7895;
}
#profile{
	background-color: #FF7519;
}
#profile:hover{
	background-color: #FF9147;
}
#eventposter{
	background-color: #00c0e4;
}
#eventposter:hover{
	background-color: #33CDE9;
}
#calendar{
    background-color: #FF4719;
}
#calendar:hover{
    background-color: #FF6C47;
}
#searchbar{
	background-color: #5bd999;
	margin: 0px;
}
#searchbar:hover{
	background-color: #7CE1AD;
}
#searchbar form{
	display: inline;
	margin: 0px;
	padding: 0px;	
}