#name{
  font-size: 20pt;
  color: black;
  text-align: center;
}
#mainpage {
  width: 100%;
  height: auto;
}

#activitybar {
  height: auto;
  width: 8%;
  float: left;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  background-color: black;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#activitybar p{
    color: #BFD4D4;
}
#activitybar a{
    text-decoration: none;
    display: inline-block;
    font-size: small;
    color: white;
    width: 100%;
}
#activitybar a:hover{
    background-color: #FF0066;
}

#my_calendar {
  display: block;
  width: 90%;
  border: 1px solid #000000;
  float: right;
}