.edit_buttons{
    display: table;
    margin: 0 auto;
    width: 120px;
}

.edit_buttons:hover{
    background-color:#FFFFB2;
}
#user_info{
	text-align: center;
	display: block;
}
#user_info img{
	max-height: 400px;
	max-width: 400px;
	vertical-align:middle;
	margin: 30px;	
}
#user_info >h1{
	font-size: xx-large;
	color: #000066
}
#user_info accordion{
	vertical-align: middle;
	max-width: 700px;	
}
#user_info accordion h3{
	background-color: #000066;
}	
#user_info>accordion>a{
	text-decoration: none;	
}
table{
margin: 0 auto;
font-weight: bold;
}

input[type="text"]{
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}

.readonlyinfo {
  border: 0px solid; 
}

.info{
  background-color: white;
}

.info:hover{
  background-color:#FFFF9D;
}