<html>
	<head>
	{% block scripts %}
	{% endblock scripts %}
	</head>
<body>
<div id="navigation">
	<div id="nav_bar">
		<ul>
			<a href="/."><li>Home</li></a>
			<a href="/UserPage"><li>My Profile</li></a>
		</ul>
	</div>
</div>
{% block bodycontent %}
{% endblock %}
</body>
</html>