<html>
  <head>
    <title> Pitt Meetup1 </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/calendar.css"/>
    <script src="/js/first.js"></script>
  </head>
<body>

<div id="navigation">
  <div id="nav_bar">
      <ul>
          <a href="/.">
            <li>Home</li>
          </a>
          <a href="/UserPage">          
            <li>My Profile</li>
          </a>
          <a href="/EventPoster">
            <li>Events</li>
          </a>
          <li>Hello, {{name}}</li>
      </ul>
  </div>
  <div id="searchbar">
    <form method="post" action="search">
      <input type="text" name="search_param">
      <input type="submit" value="Search">
    </form>
    {%if logout%}
    <a href="{{logout_url}}">Logout</a>
    {% endif %}
  </div>
</div>
<div id="name"><h1>Welcome to Pitt Meetup</h1></div>
<br>
<div id="mainpage">
  <div id="activitybar">
    {% if activities}
    {% for activity in activities %}
      <a href="{{activity.link}}">{{activity.name}}</a><br>
    {% endfor %}
    {% endif %}
    <!--THIS IS JUST FOR TESTING THE DATASTORAGE -->
    <form method="post" action="adduser">
      <input type="submit">
    </form>
    <!--THIS IS JUST FOR TESTING THE DATASTORAGE -->
  </div>
  <div id="my_calendar">
  </div>
</div>
</body>
</html>
